* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
header {
  display: flex;
  align-items: center;
  padding: 20px 50px;
  justify-content: space-around;
}

header nav {
  margin-left: auto;
}

header nav a {
  margin: 0 25px;
  text-decoration: none;
}
.fa-bars {
  visibility: hidden;
}
.fa-search {
  background-color: #c4c4c4;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}

/* Hero Styles */
.hero {
  padding: 200px 50px 100px;
  text-align: center;
  background-image: url("https://picsum.photos/id/233/1080/500/");
}
.hero h3 {
  color: #fff;
  font-size: 40px;
  margin-bottom: 20px;
}
form select,
button {
  padding: 10px 20px;
  width: 20%;
  border: 1px solid #000;
  border-radius: 5px;
}
form select:focus {
  outline: none;
}
form button {
  cursor: pointer;
  background-color: #c4c4c4 !important;
  color: #fff;
}
@media (max-width: 768px) {
  header,
  div {
    padding: 0 35px 0 25px;
    align-items: center;
  }
  header {
    position: relative;
  }
  .fa-bars {
    visibility: visible;
    position: absolute;
    right: 80px;
    top: 40px;

    font-size: 1.5rem;
  }
  header nav {
    visibility: hidden;
  }
  .hero {
    padding-top: 20px;
  }
  form {
    flex-wrap: wrap;
    display: flex;
    gap: 5px;
  }
  form select {
    flex-basis: calc(50% - 5px);
  }
  form button {
    flex-basis: 100%;
    margin-top: 10px;
  }
}
.parent {
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(250px, 1fr)
  ); /* Responsive columns */
  grid-row-gap: 30px;
}

/* Optional: Adjust padding for smaller screens */
@media (max-width: 768px) {
  .parent {
    padding: 30px;
  }
}

/* Optional: Further adjustments for even smaller screens */
@media (max-width: 480px) {
  .parent {
    padding: 20px;
    grid-template-columns: 1fr; /* Stack items on very small screens */
  }
}

/* Cards */
.parent {
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 30px;
}
